<div class="landing-background">
  <video autoplay muted loop class="background-video">
    <source src="../../../assets/man_hinh_AI-man3.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <button (click)="goBack()" class="back-button">
    <img src="../../../icons/backIcon.png" alt="Back" class="back-button-image">
  </button>

  <div class="button-grid">
    <button *ngFor="let button of buttons; let i = index" (click)="navigateToPage(i)">
      {{ button }}
    </button>
  </div>

  <div *ngIf="isLoading" class="loading-message">
    <img src="../../../icons/Hourglass.gif" alt="Loading..." class="loading-gif">
    Ôi con ơi Bụt đang làm phép, con hãy chờ 20s nhé ...
  </div>
</div>
