.landing-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.back-button {
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 1;
}

.back-button-image {
  width: 40px; /* Adjust the size of the image */
  height: 40px; /* Adjust the height of the image */
}

.back-button:hover .back-button-image {
  opacity: 0.8; /* Add hover effect if needed */
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 3 button trên mỗi hàng */
  gap: 60px; /* Khoảng cách giữa các button */
  position: absolute;
  right: 3%;
  top: 33%;
}

button {
  height: 50px;
  width: 320px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  opacity: 0; /* Thay đổi để ẩn hiện button trong quá trình căn chỉnh layout */
  pointer-events: all; /* Giữ tính năng tương tác */
}

.loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center; /* Canh giữa nội dung theo chiều ngang */
  display: flex;
  flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
  align-items: center; /* Căn giữa theo chiều ngang */
  gap: 10px; /* Khoảng cách giữa văn bản và hình GIF */
}

.loading-gif {
  width: 80px; /* Điều chỉnh kích thước GIF nếu cần */
  height: 80px;
}