.landing-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.back-button {
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.back-button-image {
  width: 40px; /* Adjust the size of the image */
  height: 40px; /* Adjust the height of the image */
}

.back-button:hover .back-button-image {
  opacity: 0.8; /* Add hover effect if needed */
}

.image-container {
  position: absolute;
  top: 26%;
  left: 60%;
  transform: translateX(-50%);
}

.random-image {
  max-width: 52%;
  max-height: 85%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
